body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.circles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

.circle.solution {
    background-color: black;
}

.circle.player-guess {
    background-color: blue;
}

.score, .attempts {
    display: flex;
    flex-direction: row;
}

.score-container {
    margin: 40px;
    padding: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.show-Solution {
    margin: 20px;
    display: none;
}